# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
dataset/
model/skin_model.h5
*.pkl
*.joblib

# Flask
instance/
.webassets-cache

# Misc
.DS_Store
*.log
